body {
    font-size: 12pt;
    
  }

.opening_paragraph {
    font-size: 10pt;
    margin: 0;
}
  
.unordered_list {
    font-size: 10pt;
}

table {
    table-layout: fixed;
    width: 75%;
    text-align: center;
    padding: 10px;
  }

  table, th, td {
    border: 1px solid;
  }

  .equation {
    font-size: 16pt;
  }